/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

$logo_height: 80px;

body {
  margin: 0;
  direction: rtl;
  color: #282828;
}

#top_bar {
  background-color: #D7F0DD;
  height: 80px;
  padding: 15px;
  box-shadow: 3px 3px 5px 0px #CCC;
}

#top_bar #logo {
  height: $logo_height;
  float: right;
}

#top_bar #name {
  float: left;
  font-size: 20px;
  color: #8f8f8f;
}

#top_bar #golda {
  font-size: 25px;
  margin-right: 20px;
  line-height: $logo_height;
}
