// Place all the styles related to the transactions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#nav, #txns {
  float: right;
}

#top_bar {
  background-color: #D7F0DD;
  height: 80px;
  padding: 15px;
  box-shadow: 3px 3px 5px 0px #CCC;
}

#top_bar #logo {
  height: 80px;
  float: right;
}

body {
  margin: 0;
  direction: rtl;
}
