// Place all the styles related to the transactions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#nav {
  float: right;
  width: 20%;
}

#data {
  width: 80%;
  float: left;
}

#stats {
  height: 80px;
  color: #2f2f2f;
  font-size: 22px;
  margin-bottom: 15px;
}

#stats .stat {
  float: right;
  width: 33%;
  text-align: center;
}

#stats .stat #num_stat {
  font-weight: bold;
  font-size: 36px;
}

#stats .stat p {
  text-decoration: underline;
}

#txns {
  margin-top: 25px;
  text-align: center;
}

#txns table thead tr, #txns tbody tr:nth-child(even) {
  background: #ccc;
}

#txns tbody tr:nth-child(odd) {
  background: #fff;
}

.clear {
  clear: both;
}
